@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Urbanist", sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
        font-family: var(--font-display), sans-serif;
    }

    body {
        overflow-x: hidden;
        @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}